---
---
@import "{{ site.theme }}";


html[data-theme="dark"] {
  --link-color: rgb( 100, 210, 255);
  --main-background-color: hsl(0, 0%, 20%);
  --main-text-color: hsl(0, 0%, 85%); 
}

html[data-theme="light"] {
	--link-color: rgb(0, 112, 201);
  --main-background-color: hsl(0, 0%, 90%);
  --main-text-color: hsl(0, 0%, 20%);
}

@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
      --link-color: rgb( 100, 210, 255);
    	--main-background-color: hsl(0, 0%, 20%);
    	--main-text-color: hsl(0, 0%, 85%); 
    }

    html[data-theme="light"] {
		  --link-color: rgb(0, 112, 201);
    	--main-background-color: hsl(0, 0%, 90%);
  	 --main-text-color: hsl(0, 0%, 20%);
  } 
}


body {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
}

a {
	color: var(--link-color);
}

code {
  color:var(--main-text-color);
}


h1 {
  color:var(--main-text-color);
}

h2 {
  color:var(--main-text-color);
}

h3, h4, h5, h6 {
  color:var(--main-text-color);
}

.topNavBar{
  background-color: var(--main-background-color);
  overflow: hidden;
}

.topNavBar a{
  float: left;
  color: var(--main-text-color);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 15px;
}

.topNavBar a:hover{
  background-color: lightblue;
  color: black;
}

.topNavBar a:active{
  background-color: lightblue;
  color: black;
}